<!-- Signup Section -->
<!-- <section id="contact" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

         <form class="form-inline d-flex">
          <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
          <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
        </form> 

      </div>
    </div>
  </div>
</section> -->

<section id="contact" class="contact-section bg-black">
    <div class="container">
  
      <div class="row">
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Mumbai</div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">info@chakortreks.com</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">Darshan +91 9773637141</div>
              <div class="small text-black-50">Sameer +91 9773637141</div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="social d-flex justify-content-center">
        <a href="" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/chakortreks" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- <a href="#" class="mx-2">
          <i class="fab fa-"></i>
        </a> -->
      </div>
  
    </div>
  </section>