<section id="carry" class="bg-light text-center padtop">
    <div class="container">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-10 col-lg-12">
        <h2 class="mb-4" style="text-align: left; color: black">Things to Carry</h2>
          <div class="featured-text text-lg-left">
              <ul class="list-group list-group-flush" style="text-align: left">
                  <li class="list-group-item">1.	2/3 litters of water</li>
                  <li class="list-group-item">2.	Good torch or lamp </li>
                  <li class="list-group-item">3.	Trekking shoes are compulsory </li>
                  <li class="list-group-item">4.	Sleeping material (sleeping bag/ bedsheet)</li>
                  <li class="list-group-item">5.	Proper backpack </li>
                  <li class="list-group-item">6.	Some dry snacks / energy bars / ready to eat food</li>
                  <li class="list-group-item">7.	Personal medicines / First Aid</li>
                  <li class="list-group-item">8.	Glocon-D / ORS / Tang </li>
                  <li class="list-group-item">9. Sun Cap Sun-Screen </li>
                  <li class="list-group-item">10.	Extra Cloths / Napkins</li>
                  <li class="list-group-item">11.	Winter Jacket </li>
                  <li class="list-group-item">12.	Identity Proof </li>
                  <li class="list-group-item">13.	Please wear Full sleeves and Full Track Pant this will protect from Summer Sun / Thorns / Insects / Prickles.</li>
                  <li class="list-group-item">14.	Excitement is must  😊 </li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </section>