<section id="include" class="projects-section bg-light">
    <div class="container">
        <h2 class="mb-4" style="text-align: left; color: black">Event Details</h2>
      <!-- Ìnformation starts here -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-12 col-lg-12 col-sm-12">
          <div class="featured text-lg-left">
            <h3 style="text-align: left">Schedule</h3>
            <h4 class="text-black-50 mb-0" style="text-align: left">:: 02-03-2019 / Day 1</h4><br>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Activity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>11:00 AM</td>
                    <td>Gathering at Initial Pick-Up Point (Dadar)</td>
                  </tr>
                  <tr>
                    <td>1:30 PM</td>
                    <td>Lunch</td>
                  </tr>
                  <tr>
                    <td>2:30 PM</td>
                    <td>Reaching Pavna Campsite</td>
                  </tr>
                  <tr>
                      <td>2:30 PM to 4:00 PM</td>
                      <td>Relaxing and Getting fresh</td>
                  </tr>
                  <tr>
                      <td>4:15 PM to 5:30 PM</td>
                      <td>Get Set Ready - Football, Archery and Other Games</td>
                  </tr>
                  <tr>
                      <td>5:30 PM to 6:30 PM</td>
                      <td>Decode - The Treasure Hunt</td>
                </tr>
                <tr>
                    <td>6:30 PM to 7:00 PM</td>
                    <td>Tea - Breakfast</td>
                </tr>
                <tr>
                  <td>7:00 PM to 9:00 PM</td>
                  <td>On the Floor - Dance on Multilingual Bits</td>
                </tr>
                <tr>
                    <td>9:00 PM to 10:30 PM</td>
                    <td>Pet Bhar Ke - Dine n Barbeque</td>
                </tr>
                <tr>
                    <td>upto 11:30</td>
                    <td>YouStory - Lets talk and find about Life-events of each other</td>
                </tr>
              
                </tbody>
              </table>
              <br>
            <h4 class="text-black-50 mb-0"  style="text-align: left">:: 03-03-2019 / Day 2</h4><br>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Activity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>6:00 AM</td>
                    <td>Wake-Up Call</td>
                  </tr>
                  <tr>
                    <td>6:00 AM to 7:00 AM</td>
                    <td>Getting Fresh and Ready for Adventure</td>
                  </tr>
                  <tr>
                    <td>7:00 AM to 7:45 AM</td>
                    <td>Gain Energy - Yoga Session and Breakfast</td>
                  </tr>
                  <tr>
                      <td>8:00 AM</td>
                      <td>Reaching to base of Tikona Fort</td>
                  </tr>
                  <tr>
                      <td>9:30 AM</td>
                      <td>Reaching on the Top and Exploring the beauty of Tikona-Vitandgad</td>
                  </tr>
                  <tr>
                      <td>11:00 AM</td>
                      <td>Getting back to Base village</td>
                </tr>
                <tr>
                    <td>11:30 AM</td>
                    <td>Heading Back to Mumbai with a heavy Bucket of Memmories..</td>
                </tr>      
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <hr>
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <!-- <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
        </div> -->
        <div class="col-xl-10 col-lg-10">
          <div class="featured text-center text-lg-left">
              <h3 style="text-align: left">Services and Inclusives</h3>
                <div class="text-center text-lg-left">
                    <ul class="list-group list-group-flush" style="text-align: left">
                        <li class="list-group-item">1.	Transport from Mumbai to camping site and back to Mumbai</li>
                        <li class="list-group-item">2.	Food Inclusive of 2 meals and 1 breakfast and 1 snacks (barbeque is special touch) </li>
                        <li class="list-group-item">3.	Spacious Tents and Comfortable Whashrooms with required utilities </li>
                        <li class="list-group-item">4.	Blankets and Pillows</li>
                        <li class="list-group-item">5.	Photographer and Selfie point </li>
  
                      </ul>
                </div>    
          </div>
        </div>
      </div>
      </div>
  </section>
  