<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <!--<h1 class="mx-auto my-0 text-uppercase" >Weekend Escape</h1><br><br>-->
      <h1 >Weekend Escape</h1><br>
      <!-- <h2 class="mx-auto my-0" style="color: whitesmoke; opacity: 0.7;">"Lets wander where the WIFI is weak..."</h2><br><hr> -->
      <h2 class="mx-auto mt-2 mb-5" style="font-size: 30px; color: whitesmoke"><strong>Tikona Trekking and Pavna Lake-Side Camping <br> 
        
        <i class="fa fa-calendar-o" aria-hidden="true"></i>02-03 Mar 2019</strong></h2>
        <div class="card text-center mx-auto" style="width: 18rem; position: relative; opacity: 0.8;">
              <div class="card-body">
                <h6 class="card-title">Seats Available - 25</h6>
                <h6 class="card-title">Pricing - 1800-/</h6>
              </div>
              <a href="#join" class="btn btn-primary js-scroll-trigger" style="opacity: 0.6;">I'm In</a>
              <!-- <a href="#details" class="btn btn-primary js-scroll-trigger">Offers</a> -->
              <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="#details" class="btn btn-primary js-scroll-trigger">Find Location</a>
                  <a href="#details" class="btn btn-primary js-scroll-trigger" data-toggle="modal" data-target="#exampleModalCenter">Click for Offers</a>
              </div> 
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Offers</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul>
                      <li>Group Discount for 5 persons - 2200-/ per head | connect with 9773637141 (whatsapp)</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <a href="#join" class="btn btn-primary js-scroll-trigger" >Join Now</a> -->
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</header>

<!-- details Section -->
<app-detail></app-detail>

<!-- Inclusives and Food -->
<app-inclusive></app-inclusive>

<!-- Camping Activities -->
<app-activities></app-activities>

<!--Things to Carry Section-->
<app-thingstocarry></app-thingstocarry>

<!--Joining Section -->
<app-registration></app-registration>

<!-- Contact Section -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>
